*{margin:0; padding:0; font-family:sans-serif;}

:root {
    --primC: #2c3e50;
    --secC: #1abc9c;
}

header {
    background-color: var(--primC);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 70px;
    text-transform: uppercase;
}
header ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
header ul li {
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    padding:10px;
    border-radius: 5px
}
header ul li:hover {
    background-color: var(--secC);
}

.hero {
    color: #FFF;
    background-color: var(--secC);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero img {
    width: 300px
}
.hero h2 {
    font-size: 80px
}
.hero p {
    font-size: 22px
}

.portfolio {
    padding: 60px 0
}
.portfolio h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px
}
.portfolio .images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px
}
.portfolio .images img {
    width: 400px;
    border-radius: 10px
}


.about {
    background-color: var(--secC);
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0
}
.about h2 {
    font-size: 50px;
    text-align: center;
}
.about .texts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px
}
.about .texts p{
    max-width:500px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4em;
}

.about button {
    color: #FFF;
    background:transparent;
    border: 2px solid #FFF;
    border-radius: 7px;
    font-size: 20px;
    padding: 15px;
    transition: 0.4s
}
.about button:hover {
    color: var(--secC);
    background:#FFF;
    border: 2px solid var(--secC);
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0
}
.contact h2 {
    font-size: 50px;
    text-align: center;
}
.contact form {
    width: 25%
}
.contact form .inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.contact form .inp label {
    font-size: 20px;
    margin-bottom: -5px
}
.contact form .inp input {
    height: 2.5em;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    background-color: transparent;
}
.contact form .inp textarea {
    height: 8em;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

.contact form .subBtn {
    font-size: 18px;
    font-weight: 600;
    height: 2.5em;
    width: 8em;
    background-color: var(--secC);
    color: #FFF;
    border:none;
    border-radius: 4px
}


footer {
    background-color: var(--primC);
    color: #FFF;
}
footer  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    height: 200px;
}
footer .footer-content .location {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-content h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px
}


footer .footer-content .social div {
    display: flex;
    align-items: center;
    gap: 15px;
}
footer .footer-content .social div i {
    padding: 10px;
    border: 2px solid #FFF;
    border-radius: 50%
}

footer .footer-content .ab p {
    width: 350px;
    text-align: center;
}
footer .footer-content .ab p a {
    color: var(--secC)
}

footer .copyright {
    text-align: center;
    background-color: #202b35;
    padding: 30px 0
}
footer .copyright p {

}